body{
    font-family: 'Caveat', cursive;
font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;
}
header{
    background-color: #FFF8F3;
    background-image:  url(./images/header_bg.png),url(./images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
   
    

}
nav{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin:0 170px 0 240px;
}
.nav-ul{
    display: flex;
    list-style: none;
    align-items: center;
    
    
}
nav  li{
    margin: 30px;
    
}
.primary-btn-1{
    color:  rgb(255, 174, 23);
    
    
}
.primary-btn{
    background-color: rgb(255, 174, 23);
    padding: 15px 23px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
    font-size: larger;
}

/* name style  S */
.name{
    font-size: 40px;
}
.header-banner{
    display: flex;
    justify-content: space-between;
    margin:0 0 0 220px;
    
}
.header-h3{
    color: gray;
    font-size: 35px;
  padding-top: 120px;
  padding-bottom: 0;
}
.header-name{
    color: rgb(255, 174, 23) ;
}
.header-p{
    font-size: 16px !important;
}
.header-h1{
    font-size: 60px;

}
/* main start  */

main{
    margin: 130px 120px ;
 
    text-align: center;
    box-sizing: border-box;
    
}

/* section main-1  */
.main-1{
    background-color: #faf0e9; 

}
.main-about-foot{
    display: flex;
    justify-content: center;

}
.main-about-foot>p{
    margin: 30px;
    padding-bottom: 60px;
}
.main-h1{
    font-size: 40px;
    padding-top: 120px;
}
.main-pre{
    font-size: 16px;
    font-weight: 700;
}

/* section main-3  */
.main-3{
    display: flex;
    justify-content: space-between;
   margin-top: 80px;
}
.js,.node,.react,.mongo{
    margin: 10px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.247) 5px 6px 50px 0px;
    /* gap: 24px; */
}

/* <!-- A summary of My Resume section main-4 start  --> */
.main-div{
    display: flex;
    gap: 90px;
    text-align: left;
    margin-bottom: 80px;
}
.main-4-h1-head{
    font-size: 60px;
    margin-top: 140px;
    margin-bottom: 80px;
}
.column-item-left-right-h1{
    font-size:40px ;
}

/* main complete  */